header {
  width: 100%;
  height: 100%; }
  header nav {
    width: 100%;
    height: 100%; }
    header nav ul {
      list-style: none; }
      header nav ul li {
        margin: 0.9rem;
        padding: 0.5rem;
        text-transform: uppercase;
        font-size: 13px; }
        header nav ul li .nav-menu {
          color: aliceblue;
          text-decoration: none; }
          header nav ul li .nav-menu:hover {
            background-color: #4c4646;
            color: aliceblue; }

@media only screen and (min-width: 1024px) {
  #contenedor {
    display: grid;
    height: 80vh;
    grid-template-areas: "main main main" "section1 section2 section3" "footer footer footer"; }
  .logo {
    width: 100px;
    height: 100px; }
  header nav ul li {
    margin: 0.9rem;
    padding: 0.5rem; }
    header nav ul li .nav-menu {
      font-size: 16px; } }

@media only screen and (min-width: 760px) {
  #contenedor {
    display: grid;
    height: 80vh;
    grid-template-areas: "main main main" "section1 section2 section3" "footer footer footer"; }
  .logo {
    width: 100px;
    height: 100px; }
  ul li {
    margin: 0.9rem;
    padding: 0.5rem; }
    ul li .nav-menu {
      font-size: 16px; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

footer {
  grid-area: footer; }

.footer {
  display: flex;
  justify-content: center;
  background-color: #3c3333;
  color: aliceblue;
  width: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

main {
  grid-area: main; }
  main .referencias {
    margin: 10px; }
    main .referencias h1 {
      text-align: center;
      background: #cdc8c8;
      box-shadow: 0px 0px 5px #762323;
      width: 100%;
      text-transform: uppercase;
      font-size: 20px;
      padding: 1rem; }

main h1 {
  font-size: 20px; }

.portada {
  height: auto;
  width: 100%; }

.section1 {
  grid-area: section1; }

.section2 {
  grid-area: section2; }

.section3 {
  grid-area: section3; }

.section1, .section2, .section3 {
  display: flex;
  justify-content: center; }

.clientes {
  width: 150px;
  height: 200px;
  margin: 10px; }

.p-clientes {
  align-items: center;
  font-size: 13px; }

.bg-autos {
  background: rgba(107, 84, 84, 0.2);
  box-shadow: 0px 0px 5px #762323; }

#contenedor {
  display: grid;
  height: 80vh;
  grid-template-areas: "main" "section1" "section2" "section3"   "footer"; }

@media only screen and (min-width: 1024px) {
  #contenedor {
    display: grid;
    height: 80vh;
    width: auto;
    grid-template-areas: "main main main" "section1 section2 section3" "footer footer footer"; }
  .logo {
    width: 100px;
    height: 100px; }
  header nav ul li {
    margin: 0.9rem;
    padding: 0.5rem; }
    header nav ul li .nav-menu {
      font-size: 16px; }
  .portada {
    height: auto;
    width: 100%; }
  main .referencias h1 {
    font-size: 30px; }
  main h1 {
    font-size: 30px; }
  .clientes {
    width: 250px;
    height: 300px;
    margin: auto; }
  .p-clientes {
    align-items: center;
    font-size: 16px; } }

.section1, .section2, .section3 {
  align-items: center;
  padding-left: 0px;
  background: rgba(107, 84, 84, 0.2);
  box-shadow: 0px 0px 5px #762323; }

/*CONTACTO*/
.titulo-contacto {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center; }

form {
  background-color: rgba(47, 36, 36, 0.8);
  color: aliceblue;
  padding: 1.5rem;
  margin: 20px;
  border-radius: 10px; }

input, textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 12px; }

textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%; }

#button {
  background: #c42727;
  color: #fff; }

#button:hover {
  background-color: red;
  cursor: pointer; }

@media only screen and (min-width: 1024px) {
  #contenedor {
    display: grid;
    height: 80vh;
    grid-template-areas: "main main main" "section1 section2 section3" "footer footer footer"; }
  .titulo-contacto {
    font-size: 30px; }
  input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 17px; }
  textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%; } }

/*NOSOTROS*/
#contenedor {
  display: grid;
  height: 80vh;
  grid-template-areas: "main" "section1" "section2" "section3"   "footer"; }

.nosotros {
  background: rgba(107, 84, 84, 0.2);
  box-shadow: 0px 0px 5px #762323;
  display: flex;
  justify-content: space-between;
  justify-items: center; }
  .nosotros .imagen-nosotros {
    width: 200px;
    height: 200px;
    margin-top: 30px; }

.nosotros .titulo-texto {
  margin: 3rem;
  text-align: center; }

.titulo {
  background: #cdc8c8;
  box-shadow: 0px 0px 5px #762323;
  width: 100%;
  padding-left: 30px;
  padding-top: 1rem;
  text-transform: uppercase;
  font-size: 20px; }

@media only screen and (min-width: 1024px) {
  #contenedor {
    display: grid;
    height: 80vh;
    grid-template-areas: "main main main" "section1 section2 section3" "footer footer footer"; }
  .titulo {
    padding-left: 30px;
    margin-top: 0.7rem;
    padding-top: 1rem;
    font-size: 30px; }
  .nosotros .imagen-nosotros {
    width: 600px;
    height: 250px;
    margin-right: 100px;
    margin-bottom: 30px; } }

.color-nav {
  background-color: #3c3333; }

.color-menu {
  background-color: #3d3535; }

.centrar {
  margin: auto;
  display: block;
  height: 250px; }

@media only screen and (min-width: 1024px) {
  #contenedor {
    display: grid;
    height: 80vh;
    grid-template-areas: "main main main" "section1 section2 section3" "footer footer footer"; }
  .centrar {
    height: 500px; }
  .referencia {
    font-size: 40px; } }
