/*CONTACTO*/
.titulo-contacto{
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 2rem;
    margin-top: 0.7rem;
}
.formulario-contacto{
    background-color:$color-principal;
    color: aliceblue;
    padding: 1.5rem;
    margin: 20px;
}
@media only screen and (min-width:1024px){
    #contenedor{
        display: grid;
        height: 80vh;
        grid-template-areas:"main main main"
                            "section1 section2 section3"
                            "footer footer footer";   
    }
    .titulo-contacto{
        font-size: 30px;
    }         
} 