
.titulo-contacto{
    font-size: 13px;
    text-transform: uppercase;
    padding-left: 30px;
    margin-top: 10px;
    background-color:$color-principal ;
    color: aliceblue;
}
.formulario-contacto{
    background-color:$color-principal;
    color: aliceblue;
    padding: 1.5rem;
    margin: 20px;
}