
.nosotros{
    display: flex;
    justify-content: space-between;  
    .imagen-nosotros{
        width: 200px;
        height: 200px;
        margin-right: 400px;
        padding-bottom: 20px;
    }
}
