@import "componentes/variables";
footer{
    grid-area: footer;    
}
.footer{
        display: flex;
        justify-content: center;
        background-color: $color-principal;
        color:aliceblue;
        width: 100%;
}
    